<div class="container">
  <div class="row">
    <div class="col">
      <h3>Score:</h3>
      <div class="row">
        <div class="col">
          <p>Total score: {{totalScore}} </p>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col">
          <p>Phy score: {{phyMarks}} </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Chem score: {{chemMarks}} </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Maths score: {{mathMarks}} </p>
        </div>
      </div> -->
      <div class="row">
        <div class="col">Negative Marks: -{{negativeMarks}}</div>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-danger" (clcik)="logout(2)" >Logout</button>
